/*
 * Copyright (c) 2016-2023 Makerdiary
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

/ {
    aliases {
    ttl-break = &button0;
    ttl-tleft = &button1;
    ttl-tright = &button2;
	};
};

/* Define buttons -> light sniffing gpios */
/ {
  /delete-node/ buttons;

  buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = < &gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
  
    button1: button1 {
      gpios = < &gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    button2: button2 {
      gpios = < &gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

	};
};