
/**
 * Configure FEM for nrf52840 radio as stated in dts/bindings/net/wireless/nordic,nrf-radio.yaml
 * Checkout schematic from: http: //www.holyiot.com/tp/2021091017064271075.pdf
 *
 * They have not incooperated an official nrf21540 FEM, so let's use as `generic-fem-two-ctrl-pins`
 */
/ {
    nrf_radio_fem: holyiot_dongle_fem {
        compatible = "generic-fem-two-ctrl-pins";
        ctx-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>; // from datasheet
        ctx-settle-time-us = <10>; // some empiric value
        crx-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>; // some empiric value
        crx-settle-time-us = <10>; // some empiric value
        rx-gain-db = <12>;
        tx-gain-db = <25>;
    };
};

&radio {
    fem = <&nrf_radio_fem>;
};